@implements IDisposable


@inject SweetAlertService Swal;
@inject NavigationManager _navigationManager;
@using PaginaGrupo.WebApp.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider autencacionProvider;
@using BlazorBootstrap;


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
    <div class="container">
        <a class="navbar-brand text-white" runat="server" href="#">GCSP</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <li class="nav-item" b-test><NavLink class="nav-link text-white" href="/"> Inicio</NavLink></li>
                <li class="nav-item "><NavLink class="nav-link text-white" href="Noticias"> Noticias</NavLink></li>
                <li class="nav-item "><NavLink class="nav-link text-white" href="Noticias"> Nosotros</NavLink></li>
                <li class="nav-item "><NavLink class="nav-link text-white" href="Noticias"> Organización</NavLink></li>
                <li class="nav-item "><NavLink class="nav-link text-white" href="Noticias"> Contacto</NavLink></li>
            </ul>

            @*barra para admin*@
            <AuthorizeView Roles="Administrador">
                <Authorized>
                    
                    <Dropdown>
                    <DropdownToggleButton Color="ButtonColor.Dark" >
                        <span class="navbar-text me-3 text-white ">
                        @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()
                    </span>
                    </DropdownToggleButton>
                    <DropdownMenu>
                         <DropdownItem To="/Noticias/Nuevo" Type="ButtonType.Link">Crear nueva noticia</DropdownItem>
                        <DropdownItem To="/Noticias/Borradores" Type="ButtonType.Link">Borradores</DropdownItem>
                        <DropdownItem To="/Noticias/Panel" Type="ButtonType.Link">Panel de noticias</DropdownItem>
                        <DropdownItem To="/Comentarios/Panel" Type="ButtonType.Link">Panel de comentarios</DropdownItem>
                        <DropdownDivider></DropdownDivider>
                        <DropdownItem To="#" Type="ButtonType.Button" @onclick="CerrarSesion">Cerrar sesión</DropdownItem>
                    </DropdownMenu>
                </Dropdown>


                   @* <span class="navbar-text me-3 text-white">
                        @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()
                    </span>*@

                </Authorized>
            </AuthorizeView>

             @*barra para dirigente*@
            <AuthorizeView Roles="Dirigente">
                <Authorized>
                    
                    <Dropdown>
                    <DropdownToggleButton Color="ButtonColor.Dark" >
                        <span class="navbar-text me-3 text-white ">
                        @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()
                    </span>
                    </DropdownToggleButton>
                    <DropdownMenu>
                         <DropdownItem To="/Noticias/Nuevo" Type="ButtonType.Link">Crear nueva noticia</DropdownItem>
                        <DropdownItem To="/Noticias/Borradores" Type="ButtonType.Link">Borradores</DropdownItem>
                        <DropdownDivider></DropdownDivider>
                        <DropdownItem To="#" Type="ButtonType.Button" @onclick="CerrarSesion">Cerrar sesión</DropdownItem>
                    </DropdownMenu>
                </Dropdown>


                   @* <span class="navbar-text me-3 text-white">
                        @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()
                    </span>*@

                </Authorized>
            </AuthorizeView>

            @*barra para Scout*@
            <AuthorizeView Roles="Scout">
                <Authorized>

                    <Dropdown>
                        <DropdownToggleButton Color="ButtonColor.Dark">
                            <span class="navbar-text me-3 text-white ">
                                @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()
                            </span>
                        </DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownItem To="#" Type="ButtonType.Button" @onclick="CerrarSesion">Cerrar sesión</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>


                    @* <span class="navbar-text me-3 text-white">
                    @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()
                    </span>*@

                </Authorized>
            </AuthorizeView>




            <AuthorizeView>
@*                <Authorized>

                    <button class="btn btn-outline-light ms-auto ms-md-0 me-3 text-white" type="button" @onclick="CerrarSesion">Salir</button>
                </Authorized>*@
                <NotAuthorized>
                    <a class="btn btn-outline-light ms-auto ms-md-0 me-3 text-white" href="/login">Iniciar sesion</a>
                </NotAuthorized>
            </AuthorizeView>




        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
     
    }


    private async Task CerrarSesion()
    {

        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Desea salir?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No",
            });

        if (result.IsConfirmed)
        {
            var autenticacionExt = (AutenticacionExtension)autencacionProvider;
            await autenticacionExt.ActualizarEstadoAutenticacion(null);
            _navigationManager.NavigateTo("/", true);
        }
    }


}
