@page "/Noticias/p/{paginado:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using PaginaGrupo.Core.DTOs
@using PaginaGrupo.Core.QueryFilters
@using PaginaGrupo.WebApp.Servicios.Contrato
@inject IToastService toastService
@inject INoticiaServicio noticiaServicio
@inject NavigationManager _navServicio

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grupo Scout San Patricio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/css.gg@2.0.0/icons/css/chevron-right.css" rel="stylesheet">
</head>
<body>

    <h1>Nuestras ultimas noticias</h1>


    @if (lista is null || paginadoMeta is null)
    {
        <div class="d-flex justify-content-center align-items-center loading">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>

    }
    else
    {

        @foreach (var item in lista)
        {
            if (!invert)
            {
                <a href="/Noticias/@item.Id" class="text-decoration-none">
                    <div class="noticia text-black">
                        <div class="contenido">
                            <h4>@item.FechaNoticia.ToString("dd/MM/yyyy")</h4>
                            <h2>@item.Titulo</h2>
                            <p>@item.Copete</p>
                        </div>
                        <picture>
                            <img src="@item.Adjunto" alt="@item.Titulo">
                        </picture>
                    </div>

                    <div style="display:none">@(invert = !invert)</div>
                </a>
            }
            else
            {
                <a href="/Noticias/@item.Id" class="text-decoration-none">
                    <div class="noticia text-black">
                        <picture><img src="@item.Adjunto" alt="@item.Titulo"> </picture>
                        <div class="contenido">
                            <h4>@item.FechaNoticia.ToString("dd/MM/yyyy")</h4>
                            <h2>@item.Titulo</h2>
                            <p>@item.Copete</p>
                        </div>
                    </div>

                    <div style="display:none">@(invert = !invert)</div>
                </a>
            }

        }

    }   
@*
                             <h2>
                        @if (paginadoModel == 1)
                        {
                        <a href="/Noticias/p/@(paginadoModel)" class="text-black text-decoration-none">⪡</a>
                        <b style="color:#0A592A">@(paginado+" ") </b>
                        @for (int i = 1; i < 5; i++) {
                        <a href="/Noticias/p/@(paginadoModel+i)" class="text-black text-decoration-none"> @(paginado+i+" ")</a>
                        }
                        <span>...</span>
                        <a href="/Noticias/p/@(paginadoModel+1)" class="text-black text-decoration-none">⪢</a>

                        }else if(paginadoModel == 2) {
                        <a href="/Noticias/p/@(paginadoModel-1)" class="text-black text-decoration-none">⪡</a>
                        <a href="/Noticias/p/@(paginadoModel-1)" class="text-black text-decoration-none"> @(paginado - 1 + " ")</a>
                        <b style="color:#0A592A">@(paginado+" ") </b>
                        @for (int i = 1; i < 3; i++) {
                        <a href="/Noticias/p/@(paginadoModel+i)" class="text-black text-decoration-none"> @(paginado+i+" ")</a>
                        }
                        <span>...</span>
                        <a href="/Noticias/p/@(paginadoModel+1)" class="text-black text-decoration-none">⪢</a>
                        }
                        else
                        {
                        <a href="/Noticias/p/@(paginadoModel-1)" class="text-black text-decoration-none">⪡</a>
                        <a href="/Noticias/p/@(paginadoModel-2)" class="text-black text-decoration-none">@(paginado - 2 + " ") </a>
                        <a href="/Noticias/p/@(paginadoModel-1)" class="text-black text-decoration-none">@(paginado - 1 + " ") </a>
                        <b style="color:#0A592A">@(paginado+" ") </b>
                        @for (int i = 1; i < 2; i++) {
                        <a href="/Noticias/p/@(paginadoModel+i)" class="text-black text-decoration-none"> @(paginado+i+" ")</a>
                        }
                        <span>...</span>
                        <a href="/Noticias/p/@(paginadoModel+1)" class="text-black text-decoration-none">⪢</a>
                        }


                        </h2>*@
        
    
        <div class="paginado">


            <div class="row">
                <div>
                @if (paginadoMeta != null)
                {
                    @if (paginadoMeta["actual"] == 1)
                    {
                        <a class="btn btn-outline-secondary no-click"   disabled><i class="bi bi-chevron-double-left"></i></a>
                        <a class="btn btn-outline-secondary no-click"  disabled><i class="bi bi-chevron-left"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-outline-secondary" href= "/Noticias/p/1"><i class="bi bi-chevron-double-left"></i></a>
                        <a class="btn btn-outline-secondary" href= "/Noticias/p/@(paginaSeleccionada-1)" ><i class="bi bi-chevron-left"></i></a>
                    }

                    <select class="form-control-sm col-sm-1 btn border-black" @bind="paginaSeleccionada" onselect="@CambiarPagina(paginaSeleccionada)">
                        @for (var i = 1; i <= ultimaPagina; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    @if (paginadoMeta["actual"] == ultimaPagina)
                    {
                        <a class="btn btn-outline-secondary no-click" disabled><i class="bi bi-chevron-right"></i></a>
                        <a class="btn btn-outline-secondary no-click" disabled><i class="bi bi-chevron-double-right"></i></a>
                    }
                    else{
                    <a class="btn btn-outline-secondary" href= "/Noticias/p/@(paginaSeleccionada+1)" ><i class="bi bi-chevron-right"></i></a>
                    <a class="btn btn-outline-secondary" href= "/Noticias/p/@(ultimaPagina)" ><i class="bi bi-chevron-double-right"></i></a>
                    }
                }
            </div>
            </div>
        </div>

    </body>
    </html>

@code {
    //getNoticia(id)
    [Parameter]
    public int paginado { get; set; }

    public bool invert = false;

    private List<NoticiaActivaImagenDto>? lista = null;
    public int paginaSeleccionada = 0;
    public int ultimaPagina = 0;
    public Dictionary<string, int> paginadoMeta;

    [CascadingParameter]
    private Task<AuthenticationState> authencationState { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        if (paginado > 0)
        {
            NoticiasQueryFilter noticiaQF = new NoticiasQueryFilter
                {
                    PageNumber = paginado,
                    PageSize = 3
                };

            var response = await noticiaServicio.ObtenerNoticiasActivas(noticiaQF);

            paginadoMeta = new Dictionary<string, int>()
            {
                { "paginasTotales", response.Meta.TotalPages },
                { "actual", response.Meta.CurrentPage }
            };




            lista = (List<NoticiaActivaImagenDto>)response.Data;
            if (lista.Count == 0)
            {
                await CargaSinNoticias(1);
            }
            foreach (var item in lista)
            {
                if (item.Copete==null)
                    item.Copete = item.Copete + "Entrá para saber mas...";
                else
                item.Copete = item.Copete + ". Entrá para saber mas...";
            }

            paginaSeleccionada = response.Meta.CurrentPage;
            ultimaPagina = response.Meta.TotalPages;

        }
        else
        {
            _navServicio.NavigateTo("/Noticias/p/1");
        }

    }

    //protected override async Task OnInitializedAsync()
    //{


    //    if (paginado != 0)
    //    {
    //        //NoticiasQueryFilter noticiaQF = new NoticiasQueryFilter
    //        //    {
    //        //        PageNumber = 1,
    //        //        PageSize = 6

    //        //    };

    //        //var response2 = await noticiaServicio.ObtenerNoticiasActivas(noticiaQF);

    //        //toastService.ShowWarning($"{response2.Resultado} || {response2.Mensaje} || {response2.EsCorrecto}");

    //        var response = await noticiaServicio.ObtenerListadoNoticias(3);
    //            if (response.EsCorrecto)
    //            {
    //                lista = (List<NoticiaDto>)response.Resultado!;
    //            }
    //            else
    //            {
    //                  lista = new List<NoticiaDto>();
    //            }

    //    }
    //}

    protected async Task CargaSinNoticias(int link)
    {
        toastService.ShowWarning("No se encontraron noticias que cargar...");
        _navServicio.NavigateTo($"/Noticias/p/1");

    }

    private async Task CambiarPagina(int paginaSeleccionada)
    {
        if (paginaSeleccionada != paginadoMeta["actual"])
        {
            if(paginaSeleccionada > paginadoMeta["paginasTotales"])
            {
                _navServicio.NavigateTo($"/Noticias/p/1");
            }
            else
            {
                _navServicio.NavigateTo($"/Noticias/p/{paginaSeleccionada}");
            }
        }
    }
}
