
@page "/Noticias/P/{paginado:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using PaginaGrupo.Core.DTOs
@using PaginaGrupo.Core.QueryFilters
@using PaginaGrupo.WebApp.Servicios.Contrato
@inject IToastService toastService

@inject INoticiaServicio noticiaServicio

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grupo Scout San Patricio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>

    <h1>Nuestras ultimas noticias</h1>
    
    @if (lista != null)
    {


        @foreach (var item in lista)
        {
            if (!invert)
            {
                <div class="noticia">
                    <div class="contenido">
                        <h2>@item.Titulo</h2>
                        <p>@item.Copete</p>
                    </div>
                    <picture>
                        <img src="Imgs/o1.jpeg" alt="@item.Titulo">
                    </picture>
                </div>

                @(invert = !invert)
            }
            else
            {
                <div class="noticia">
                    <picture><img src="Imgs/o2.jpeg" alt="@item.Titulo"> </picture>
                    <div class="contenido">
                        <h2>@item.Titulo</h2>
                        <p>@item.Copete</p>
                    </div>
                </div>

                @(invert = !invert)
            }

        }

        <div class="paginado">
            <h2> <a href="/Noticias/P/@(paginado-1)">ткб</a> <b style="color:#0A592A">@(paginado+" ") </b> @for (int i = 1; i < 6; i++){@(paginado+i+" ")}... <a href="/Noticias/P/@(paginado+1)">ткв</a>  </h2>
        </div>
    }else
    {
        <h4 class="flex align-items-center">No se cargaron noticias...</h4>
    }

</body>
</html>

@code{
    //getNoticia(id)
    [Parameter]
    public int paginado { get; set; }

    public bool invert /*= false*/;

    private List<NoticiaAltaDto>? lista = null;


    [CascadingParameter]
    private Task<AuthenticationState> authencationState { get; set; }


    protected async Task OnParametersSetAsync(int paginado)
    {
        invert = false;


        if (paginado != 0)
        {



            NoticiasQueryFilter filtro = new NoticiasQueryFilter
                {
                    IdUsuario = null,
                    FechaNoticia =null,
                    Titulo=null,
                    PageNumber = paginado,
                    PageSize = 6
                };

            var response = await noticiaServicio.ObtenerNoticiasActivas(filtro);


            if (response.EsCorrecto!)
            {
                lista = (List<NoticiaAltaDto>)response.Resultado!;
            }
            else
            {
                toastService.ShowWarning(response.Mensaje);
                lista = new List<NoticiaAltaDto>();
            }

        }

    }
}