@page "/Noticias/previsualizar/{Id:int}"

@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@using PaginaGrupo.WebApp.Extensiones
@using PaginaGrupo.WebApp.Servicios.Contrato;
@using PaginaGrupo.Core.DTOs
@using PaginaGrupo.Core.Entities

@inject IAdjuntoServicio adjuntoServicio
@inject INoticiaServicio noticiaServicio
@inject IUsuarioServicio usuarioServicio
@inject IToastService toastService
@inject NavigationManager _navServicio
@inject AuthenticationStateProvider autencacionProvider;

@*los 2 renglones siguientes son para restringir la pantalla a un rol en especial*@
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Administrador,Dirigente")];

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grupo Scout San Patricio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>


@if (modelo.Cuerpo is null)
{
   <div class="d-flex justify-content-center align-items-center loading">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
}
else
{
    
<div class="flex-noticia align-items-center">
    
    <div class="flex-encabezado">
        <h1>@modelo.Titulo</h1>
        <h3>
            @modelo.Copete
        </h3>
    
        <div id="carouselExampleCaptions" class="carousel slide carousel-dark">
    @*        <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>*@
            <div class="carousel-inner">
                @if (linksImgs is null || linksImgs.Count == 0)
                {

                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="Imgs/banner1.jpeg" mx-auto d-block class="d-block w-100 h-100" alt="...">

                    </div>
                    <div class="carousel-item">
                        <img src="Imgs/banner2.jpeg" mx-auto d-block class="d-block w-100 h-100" alt="..." >

                    </div>
                    <div class="carousel-item">
                        <img src="Imgs/banner3.jpeg" class="d-block w-100 h-100" alt="...">

                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
        
                }
                else
                {
                    foreach (var item in linksImgs)
                    {
                        if(primerImg)
                        {
                            <div class="carousel-item active" data-bs-interval="10000">
                            <img src="@item" mx-auto d-block class="d-block w-100 h-100" alt="..." >@*onerror="@CargarImagenDefault(item)"*@
                            </div>

                            <div style="display:none">@(primerImg= false)</div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="@item" mx-auto d-block class="d-block w-100 h-100" alt="..." > @*onerror="@CargarImagenDefault(item)"*@
                                    </div>
                        }
                    }       

                }

            </div>
                @if(linksImgs.Count()>=2)
                {
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                }
        </div>


    </div>
@*    <h3>
       @modelo.Copete
    </h3>*@
    <p class="text-left">
        @((MarkupString)modelo.Cuerpo.Replace("\n", "<br />"))
    </p>

    <p class="autor"> > @modelo.Autor -@modelo.FechaNoticia.ToString()</p>
    
</div>


<div class="container mt-5 mb-5">

            <div class="row  d-flex justify-content-center">

                <div class="col-md-8">

                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5>Comentarios(1)</h5>
                        
                    </div>
                    <AuthorizeView>
                        <div class="card p-3 mb-3">
                     
                              <div class="user d-flex flex-column align-items-start">

                                 <div class="d-flex flex-row align-items-center">
                                     <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle m-2">
                                     <small class="fw-bold text-success ml-2"> 
                                 
                                         @context.User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
                                    
                                     </small>
                         
                                 </div>
                            
                                <div class="new-comment-form" >
                                
                             
                                    <form>
                                        <div class="col-md-10"> 
                                          <textarea class="form-control non-resizable" id="exampleFormControlTextarea1" rows="3" placeholder="Deja tu comentario.."></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-outline-success mt-2">Enviar Comentario</button>
                                    </form>   
                                   </div>
                              </div>
                         
                        </div>
                    </AuthorizeView> 
                    <!--Comentarios existentes-->
                    <div class="card p-3">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="user d-flex flex-row align-items-center">
                            <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle m-2">
                            <span>
                                <small class="fw-bold text-success ml-2">Franco</small>
                                <br />
                                <small class="font-weight-bold">Que buena noticia! Espero mas...</small></span>                          
                          </div>
                         <small>Hace dos dias</small>
                      </div>
                      <div class="action d-flex justify-content-between mt-2 align-items-center">
                          <AuthorizeView Roles="Dirigente,Administrador">
                              <Authorized>
                                  <!--Aca se tendria que verificar que el usuario sea Admin, Dirigente o ( Scout y coincidir con el usuario que creó el comentario)-->

                                <div class="reply px-4">

                                    <small>Remove</small>
                           
                                </div>
                              </Authorized>
                          </AuthorizeView>                         
                      </div>                  
                    </div>
                </div>               
            </div>
        </div>

}

@code {


    //getNoticia(id)
    [Parameter]
    public int Id { get; set; }
    private string Titulo = "Crear Noticia";
    private string boton = "Crear Borrador";
    private NoticiaAltaDto modelo = new NoticiaAltaDto();
    private List<string> linksImgs = new List<string>();
    private bool primerImg = true;


    [CascadingParameter]
    private Task<AuthenticationState> authencationState { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            var response = await noticiaServicio.ObtenerById(Id);

            if (response.EsCorrecto!)
            {
                modelo = (NoticiaAltaDto)response.Resultado!;
                await CargarImagenes(Id);
            }
            else
            {
                toastService.ShowWarning(response.Mensaje);
                _navServicio.NavigateTo("/noticias/p/1");
            }
        }
    }


    private async Task GuardarComentario()
    {
        var authState = await authencationState;
        modelo.IdUsuario = Convert.ToInt32(authState.User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault());
        //Falta desarrollar

    }

    private async Task CargarImagenes(int idNoticia)
    {
        var responseAdjunto = await adjuntoServicio.GetAdjuntosNoticia(idNoticia);

        foreach (var item in responseAdjunto.Data)
        {
            linksImgs.Add(item.Adjunto);
        }
    }


    //Esto era para contener casos donde la carga de las imagenes fallen.
    //List<int> indices = new List<int>();
    //private async Task CargarImagenDefault(string link)
    //{
    //    int indice = linksImgs.IndexOf(link);

    //    indices.Add(indice);
    //    //if (indice != -1)
    //    //{
    //    //    // Modificar la cadena si se encuentra
    //    //    linksImgs[indice] = "/Imgs/icon-192.png";
    //    //}
    //}

    //private async Task CargarImagenDefault()
    //{
    //    foreach (var item in indices)
    //    {
    //        linksImgs[item] = "/Imgs/icon-192.png";
    //    }
    //}


}



